<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace속성은 클래스의 패키지와 유사한 용도로, Mybatis 내에서 원하는 SQL문을 찾아서 실행할 때 동 -->
<mapper namespace="org.hyunsworld.mapper.PointMapper">
    <update id="updatePoint">
        UPDATE TBL_USER
           SET UPOINT = UPOINT + #{point}
         WHERE UID = #{uid}
    </update>
</mapper>